/**
 * Global defaults.
 * ------------------------------------------------------------------------------------------------
 */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	overflow: hidden;
	overflow-wrap: break-word;
	tab-size: 4;
	block-size: 100%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	overflow-y: auto;
	block-size: 100%;
}

a {
	text-underline-offset: 0.15em;
}

blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

table {
	font-variant-numeric: tabular-nums;
}

textarea {
	min-height: 2lh;
	max-height: 10lh;
	resize: vertical;
}

[id] {
	scroll-margin-block-start: 2lh;
}

:focus {
	outline: none;
}

:focus-visible {
	outline: 2px solid;
	outline-offset: 0;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::after,
	*::before {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}

/** @see https://github.com/w3c/csswg-drafts/issues/5813 */
:where(.grid > :empty) {
	position: absolute;
}
