/**
 * Typography.
 * ------------------------------------------------------------------------------------------------
 */

:where([data-ui]) {
	--font-size-1: calc(0.75rem * var(--scaling-factor));
	--font-size-2: calc(0.875rem * var(--scaling-factor));
	--font-size-3: calc(1rem * var(--scaling-factor));
	--font-size-4: calc(1.125rem * var(--scaling-factor));
	--font-size-5: calc(1.25rem * var(--scaling-factor));
	--font-size-6: calc(1.5rem * var(--scaling-factor));
	--font-size-7: calc(1.75rem * var(--scaling-factor));
	--font-size-8: calc(2.1875rem * var(--scaling-factor));
	--font-size-9: calc(3.75rem * var(--scaling-factor));

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;

	--line-height-1: calc(0.75rem * var(--scaling-factor));
	--line-height-2: calc(0.875rem * var(--scaling-factor));
	--line-height-3: calc(1rem * var(--scaling-factor));
	--line-height-4: calc(1.125rem * var(--scaling-factor));
	--line-height-5: calc(1.25rem * var(--scaling-factor));
	--line-height-6: calc(1.5rem * var(--scaling-factor));
	--line-height-7: calc(1.75rem * var(--scaling-factor));
	--line-height-8: calc(2.1875rem * var(--scaling-factor));
	--line-height-9: calc(3.75rem * var(--scaling-factor));

	--letter-spacing-1: 0.0025em;
	--letter-spacing-2: 0em;
	--letter-spacing-3: 0em;
	--letter-spacing-4: -0.0025em;
	--letter-spacing-5: -0.005em;
	--letter-spacing-6: -0.00625em;
	--letter-spacing-7: -0.0075em;
	--letter-spacing-8: -0.01em;
	--letter-spacing-9: -0.025em;

	--font-family-body: var(--font-sans, ui-sans-serif), ui-sans-serif, system-ui, sans-serif;
	--font-family-heading: var(--font-display, var(--font-family-body));
	--font-family-code: var(--font-monospace, ui-monospace), ui-monospace, monospace;
}
